//- cate path on top pages
section(class= class_has_cate + "__cate-path cate-path max-src margin-auto")
  a.products__cate-path__link(href="index.html") Home
  |  / 
  a.products__cate-path__link.--cate-active(href="#") #{cate_name}
