//- some variables

//- footer
- var footer_logo_url = "../../images/slogan-footer-mobile.png";
- var footer_desc_intro = "Green shop được thành lập từ 8/2010 được sự tin tưởng của khách hàng trong suốt thời gian hoạt động đến nay cửa hàng ngày một phát triển";
- var phone_num = "(84-4) 66.558.868";
- var email = "info@dkt.com.vn";
- var footer_copyright = "Thiết kế bởi Bizweb ©";
-
  var nav_client = [
    {'Tài khoản của tôi': '#'},
    {'Sản phẩm yêu thích': '#'},
    {'Lịch sử mua hàng': '#'},
    {'Chính sách đổi trả': '#'},
    {'Góp ý, khiếu nại': '#'}
  ];
-
  var nav_service = [
    {'Hệ thống cửa hàng': '#'},
    {'Hướng dẫn mua hàng': '#'},
    {'Hướng dẫn thanh toán': '#'},
    {'Tích điểm đổi quà': '#'},
    {'Câu hỏi thường gặp': '#'}
  ];
-
  var nav_policy = [
    {'Chính sách giao hàng': '#'},
    {'Chính sách đổi trả sản phẩm': '#'},
    {'Chính sách bảo hành': '#'},
    {'Giới thiệu sản phẩm mới': '#'},
    {'Chính sách trả góp': '#'}
  ];
-
  var nav_news = [
    {'Tin mới': '#'},
    {'Khuyến mại': '#'},
    {'Tuyển dụng': '#'},
    {'Download': '#'},
    {'Tags': '#'}
  ];
-
  var nav_hotlink = [
    {'Sitemap': '#'},
    {'Danh mục sản phẩm': '#'},
    {'Hợp tác': '#'},
    {'Thông tin liên hệ': '#'},
    {'Câu hỏi thường gặp': '#'}
  ];
-
  var nav_payment = [
    {'fa-cc-visa': '#'},
    {'fa-cc-mastercard': '#'},
    {'fa-cc-paypal': '#'},
    {'fa-cc-discover': '#'}
  ];

//- header
- var shop_name = "Green Shop";
- var shop_service = "Cho thuê cây cảnh Tết 2016";
- var shop_offer = "( Miễn phí vận chuyển với những đơn hàng có trị giá trên 5.000.000 đ )";
- var open_time = "Open time: 08:00 - 18:00  Monday - Sunday";
- var phonesp1 = "(04) 6674 2332";
- var phonesp2 = "(04) 3786 8904";
- var header_logo_url_green = "../../images/slogan-header-mobile-green.png";
- var header_logo_url_black = "../../images/slogan-header-mobile-black.png";
- var header_flower_url = "../../images/headerflowerahihi.png";
- var header_slide_img = "../../images/slide-1920x590.jpg";
- var header_slide_nt_img = "../../images/slide-1920x590-no-text.jpg";
-
  var nav_header = [
    {'Trang chủ': 'index.html'},
    {'Giới thiệu': '#'},
    {'Sản phẩm': '#', 'child': [{'Hoa sen': '#'},
                                {'Hoa súng': '#'},
                                {'Hoa dâm bụt': '#'},
                                ]},
    {'Sản phẩm mới': '#', 'child': [{'Hoa sen': '#', 'child': [{'Hoa sen đá': '#'},
                                                              {'Hoa sen cạn': '#'},
                                                              ]},
                                    {'Hoa súng': '#'},
                                    {'Hoa dâm bụt': '#'},
                                    ]},
    {'Tin tức': '#'},
    {'Liên hệ': '#'}
  ];

//- homepage
- var ads1_img = "../../images/banner-11140x217.png";
- var popup = "../../images/flowers.png";
-
  var pr_highlight = [
    { 
      'title': 'Cây chân chim',
      'price': '250',
      'old_price': '250',
      'desc': 'NEW',
      'rating': 6,
      'url': '#',
      'img': 'spx2-4.png'
    },
    { 
      'title': 'Cây Dạ Lam',
      'price': '500',
      'old_price': '250',
      'desc': '50%',
      'rating': 9,
      'url': '#',
      'img': 'spx2-5.png'
    },
    { 
      'title': 'Cây Danh Dự',
      'price': '850',
      'old_price': '250',
      'desc': 'NEW',
      'rating': 9,
      'url': '#',
      'img': 'spx2-15.png'
    },
    { 
      'title': 'Cây cọ ta',
      'price': '150',
      'old_price': '250',
      'desc': 'null',
      'rating': 9,
      'url': '#',
      'img': 'spx2-11.png'
    },
    { 
      'title': 'Cây dứa nhỏ',
      'price': '375',
      'old_price': '250',
      'desc': 'null',
      'rating': 9,
      'url': '#',
      'img': 'spx2-6.png'
    },
    { 
      'title': 'Cây đa búp đỏ',
      'price': '1.000',
      'old_price': '250',
      'desc': '50%',
      'rating': 9,
      'url': '#',
      'img': 'spx2-3.png'
    }
  ];
-
  var pr_hot = [
    { 
      'title': 'Cây chân chim',
      'price': '250',
      'old_price': '250',
      'desc': 'NEW',
      'rating': 9,
      'url': '#',
      'img': 'spx2-4.png'
    },
    { 
      'title': 'Cây Dạ Lam',
      'price': '500',
      'old_price': '250',
      'desc': '50%',
      'rating': 9,
      'url': '#',
      'img': 'spx2-5.png'
    },
    { 
      'title': 'Cây Danh Dự',
      'price': '850',
      'old_price': '250',
      'desc': 'NEW',
      'rating': 9,
      'url': '#',
      'img': 'spx2-15.png'
    },
    { 
      'title': 'Cây đa búp đỏ',
      'price': '1.000',
      'old_price': '250',
      'desc': '50%',
      'rating': 9,
      'url': '#',
      'img': 'spx2-3.png'
    },
    { 
      'title': 'Cây cọ ta',
      'price': '150',
      'old_price': '250',
      'desc': 'null',
      'rating': 9,
      'url': '#',
      'img': 'spx2-11.png'
    },
    { 
      'title': 'Cây dứa nhỏ',
      'price': '375',
      'old_price': '250',
      'desc': 'null',
      'rating': 9,
      'url': '#',
      'img': 'spx2-6.png'
    }
  ];
-
  var pr_promo = [
    { 
      'title': 'Cây danh dự',
      'price': '475',
      'old_price': '250',
      'desc': '-25%',
      'rating': 9,
      'url': '#',
      'img': 'spx2-15.png'
    },
    { 
      'title': 'Cây dứa nhỏ',
      'price': '668',
      'old_price': '250',
      'desc': '-10%',
      'rating': 9,
      'url': '#',
      'img': 'spx2-6.png'
    },
    { 
      'title': 'Cây cọ ta',
      'price': '770',
      'old_price': '250',
      'desc': 'null',
      'rating': 9,
      'url': '#',
      'img': 'spx2-11.png'
    },
    { 
      'title': 'Cây dạ lam',
      'price': '555',
      'old_price': '250',
      'desc': 'null',
      'rating': 9,
      'url': '#',
      'img': 'spx2-2.png'
    },
    { 
      'title': 'Cây danh dự',
      'price': '780',
      'old_price': '250',
      'desc': 'null',
      'rating': 9,
      'url': '#',
      'img': 'spx2-8.png'
    },
    { 
      'title': 'Cây dứa nhỏ',
      'price': '680',
      'old_price': '250',
      'desc': 'null',
      'rating': 9,
      'url': '#',
      'img': 'spx2-1.png'
    }
  ];
-
  var pr_new = [
    { 
      'title': 'Cây dứa nhỏ',
      'price': '668',
      'old_price': '250',
      'desc': '-10%',
      'rating': 9,
      'url': '#',
      'img': 'spx2-6.png'
    },
    { 
      'title': 'Cây danh dự',
      'price': '475',
      'old_price': '250',
      'desc': '-25%',
      'rating': 9,
      'url': '#',
      'img': 'spx2-15.png'
    },
    { 
      'title': 'Cây cọ ta',
      'price': '770',
      'old_price': '250',
      'desc': 'null',
      'rating': 9,
      'url': '#',
      'img': 'spx2-11.png'
    },
    { 
      'title': 'Cây dạ lam',
      'price': '555',
      'old_price': '250',
      'desc': 'null',
      'rating': 9,
      'url': '#',
      'img': 'spx2-2.png'
    },
    { 
      'title': 'Cây dứa nhỏ',
      'price': '668',
      'old_price': '250',
      'desc': '-10%',
      'rating': 9,
      'url': '#',
      'img': 'spx2-6.png'
    },
    { 
      'title': 'Cây cọ ta',
      'price': '770',
      'old_price': '250',
      'desc': 'null',
      'rating': 9,
      'url': '#',
      'img': 'spx2-11.png'
    },
    { 
      'title': 'Cây danh dự',
      'price': '780',
      'old_price': '250',
      'desc': 'null',
      'rating': 9,
      'url': '#',
      'img': 'spx2-8.png'
    },
    { 
      'title': 'Cây dứa nhỏ',
      'price': '680',
      'old_price': '250',
      'desc': 'null',
      'rating': 9,
      'url': '#',
      'img': 'spx2-1.png'
    }
  ];
-
  var news_home = [
    {
      'title': '15 thiết kế phòng ngủ tuyệt đẹp làm vạn người mê',
      'date': 'Thứ 7, ngày 31, tháng 12, năm 2019',
      'desc': 'Cùng Sài Gòn Hoa tìm hiểu một vài xu hướng thiết kế sân vườn được ưa chuộng hiện nay nhé ! Kết hợp hàng rào',
      'thumb': '../../images/news-thumb-1.jpg',
      'url': '#'
    },
    {
      'title': 'Tạo Tiểu Cảnh Góc Sân Cho Nhà Phố, Biệt Thự Đẹp',
      'date': 'Thứ 7, ngày 31, tháng 12, năm 2019',
      'desc': 'Khi bước từ ngoài ngõ vào hay từ trong nhà đi ra, góc sân luôn là điểm nhìn đầu tiên của chúng ta.',
      'thumb': '../../images/news-thumb-2.jpg',
      'url': '#'
    },
    {
      'title': 'Cách bố trí hoa chậu trước cửa ấn tượng',
      'date': 'Thứ 7, ngày 31, tháng 12, năm 2019',
      'desc': 'Như thể hiện sự thân thiện cũng như sự hiếu khách của gia chủ, phần không gian trước cửa',
      'thumb': '../../images/news-thumb-3.jpg',
      'url': '#'
    },
  ];

//- products page
- var ads2_img = "../../images/03List-ads2.jpg";
-
  var cate_name_list = [
    {'Cây chậu treo':10},
    {'Cây có hoa':5},
    {'Cây dây leo':0},
    {'Cây để bàn':0},
    {'Cây may mắn':0},
    {'Cây trang trí':0},
    {'Cây nội thất':0}
  ];
-
  var cate_price = ["200.000 Đ - 400.000 Đ",
                    "400.000 Đ - 600.000 Đ",
                    "600.000 Đ - 800.000 Đ",
                    "800.000 Đ - 1.000.000 Đ",
                    "1.000.000 Đ - 2.000.000 Đ"
  ];
-
  var products = [
    { 
      'title': 'Cây Dạ Lam',
      'price': '500',
      'old_price': '250',
      'desc': 'null',
      'long_desc': 'Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến lá xanh đốm trắng.',
      'rating': 9,
      'url': '#',
      'img': 'spx2-5.png'
    },
    { 
      'title': 'Cây Danh Dự',
      'price': '850',
      'old_price': '250',
      'desc': 'null',
      'long_desc': 'Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến lá xanh đốm trắng.',
      'rating': 9,
      'url': '#',
      'img': 'spx2-15.png'
    },
    { 
      'title': 'Cây đa búp đỏ',
      'price': '1.000',
      'old_price': '250',
      'desc': 'null',
      'long_desc': 'Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến lá xanh đốm trắng.',
      'rating': 9,
      'url': '#',
      'img': 'spx2-3.png'
    },
    { 
      'title': 'Cây cọ ta',
      'price': '150',
      'old_price': '250',
      'desc': 'null',
      'long_desc': 'Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến lá xanh đốm trắng.',
      'rating': 9,
      'url': '#',
      'img': 'spx2-11.png'
    },
    { 
      'title': 'Cây dứa nhỏ',
      'price': '375',
      'old_price': '250',
      'desc': 'null',
      'long_desc': 'Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến lá xanh đốm trắng.',
      'rating': 9,
      'url': '#',
      'img': 'spx2-6.png'
    },
    { 
      'title': 'Cây dứa nhỏ',
      'price': '668',
      'old_price': '250',
      'desc': 'null',
      'long_desc': 'Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến lá xanh đốm trắng.',
      'rating': 9,
      'url': '#',
      'img': 'spx2-6.png'
    },
    { 
      'title': 'Cây cọ ta',
      'price': '770',
      'old_price': '250',
      'desc': 'null',
      'long_desc': 'Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến lá xanh đốm trắng.',
      'rating': 9,
      'url': '#',
      'img': 'spx2-11.png'
    },
    { 
      'title': 'Cây danh dự',
      'price': '780',
      'old_price': '250',
      'desc': 'null',
      'long_desc': 'Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến lá xanh đốm trắng.',
      'rating': 9,
      'url': '#',
      'img': 'spx2-8.png'
    },
    { 
      'title': 'Cây dứa nhỏ',
      'price': '375',
      'old_price': '250',
      'desc': 'null',
      'long_desc': 'Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến lá xanh đốm trắng.',
      'rating': 9,
      'url': '#',
      'img': 'spx2-6.png'
    },
    { 
      'title': 'Cây dứa nhỏ',
      'price': '668',
      'old_price': '250',
      'desc': 'null',
      'long_desc': 'Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến lá xanh đốm trắng.',
      'rating': 9,
      'url': '#',
      'img': 'spx2-6.png'
    },
    { 
      'title': 'Cây cọ ta',
      'price': '770',
      'old_price': '250',
      'desc': 'null',
      'long_desc': 'Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến lá xanh đốm trắng.',
      'rating': 9,
      'url': '#',
      'img': 'spx2-11.png'
    },
    { 
      'title': 'Cây danh dự',
      'price': '780',
      'old_price': '250',
      'desc': 'null',
      'long_desc': 'Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến lá xanh đốm trắng.',
      'rating': 9,
      'url': '#',
      'img': 'spx2-8.png'
    }
  ];
-
  var cate_color = [
    {'Xanh cây':'#98cb4a'},
    {'Tím':'#913ccd'},
    {'Vàng':'#f7d842'},
    {'Đỏ cam':'#f76d3c'},
    {'Xanh trời':'#5481e6'},
    {'Hồng':'#f15f74'}
  ];

//- product detail page
-
  var pr_similar = [
    { 
      'title': 'Cây chân chim',
      'price': '250',
      'old_price': '250',
      'desc': 'NEW',
      'rating': 9,
      'url': '#',
      'img': 'spx2-4.png'
    },
    { 
      'title': 'Cây Dạ Lam',
      'price': '500',
      'old_price': '250',
      'desc': '50%',
      'rating': 9,
      'url': '#',
      'img': 'spx2-5.png'
    },
    { 
      'title': 'Cây Danh Dự',
      'price': '850',
      'old_price': '250',
      'desc': 'NEW',
      'rating': 9,
      'url': '#',
      'img': 'spx2-15.png'
    },
    { 
      'title': 'Cây đa búp đỏ',
      'price': '1.000',
      'old_price': '250',
      'desc': '50%',
      'rating': 9,
      'url': '#',
      'img': 'spx2-3.png'
    }
  ];
-
  var pr_daLam = [
    {
      'title': 'Cây dạ lam',
      'price': '4.099',
      'old_price': '4.099',
      'desc': 'null',
      'long_desc': 'Cây mọc thành bụi thưa, thân vươn thẳng với chiều cao cây trung bình từ 0,8-1,2m. Lá hình trứng, mép lá nguyên, gân lá nổi rõ, phiến rộng khoảng từ 15-20cm. Lá có màu xanh đậm ở mặt trên, quanh gân lá có màu trắng sữa; mặt dưới lá nhạt màu hơn. Lá cây dạ lam mọc cách, cuống lá dài khi rụng để lại các khía màu nâu nhạt.',
      'full_desc': 'Tên phổ thông: Dạ lam, Huỳnh tinh cảnh, Dong vằn.\n\nTên khoa học: Calathea zebrina\n\nHọ thực vật: Marantaceae (Củ dong).\n\nChiều cao: 0,8-1,2m\n\nCây dạ lam có nguồn gốc từ Brazil, được du nhập và phân bố rộng khắp ở Việt Nam.\n\nCây mọc thành bụi thưa, thân vươn thẳng với chiều cao cây trung bình từ 0,8-1,2m. Lá hình trứng, mép lá nguyên, gân lá nổi rõ, phiến rộng khoảng từ 15-20cm. Lá có màu xanh đậm ở mặt trên, quanh gân lá có màu trắng sữa; mặt dưới lá nhạt màu hơn. Lá cây dạ lam mọc cách, cuống lá dài khi rụng để lại các khía màu nâu nhạt.\n\nCây dạ lam thuộc loại cây chịu bóng bán phần hoặc hoàn toàn, nhu cầu nước tương đối cao. Cây được nhân giống từ tách bụi, cây mọc khỏe, tốc độ sinh trưởng nhanh với sức sống mạnh.\n\nĐây là loại cây có dáng đẹp, màu lá mướt mát, tươi khỏe, cây rất phù hợp trồng chậu trang trí nội thất-văn phòng.\n\nNgoài ra, cây còn có đặc điểm lọc khí, làm xanh mát môi trường, giúp điều hòa không khí, đặc biệt tốt cho những môi trường thường xuyên sử dụng các loại máy móc tảng nhiệt. Có thể bày cây ở hành lang hay ở giữa sảnh, đặt ở cạnh bàn làm việc hoặc trang trí các góc phòng có diện tích trung bình.\n\nQuý khách có thể tham khảo thêm về cách chăm sóc cây qua bài viết sau: HD chăm sóc cây hoa cảnh.',
      'rating': 10,
      'url': '#',
      'buy_url': '#',
      'img': 'spx2-8.png',
      'gallery': ['spx2-9.png','spx2-8.png','spx2-1.png','spx2-11.png','spx2-5.png']
    }
  ];

//- cart page
-
  var bought_pr = [
    {'name':'Cây văn phòng',
      'price':'270',
      'amount':'1',
      'total':'270',
      'url':'#',
      'img':'../../images/sp/spx2-2.png'
    },
    {'name':'Cây văn phòng',
      'price':'270',
      'amount':'1',
      'total':'270',
      'url':'#',
      'img':'../../images/sp/spx2-3.png'
    },
    {'name':'Cây văn phòng',
      'price':'270',
      'amount':'1',
      'total':'270',
      'url':'#',
      'img':'../../images/sp/spx2-4.png'
    }
  ];

//- contact page
- var map_img = "../../images/map.png"

//- news page
-
  var news_tag = [
    {
      'name':'Cây văn phòng',
      'url':'#'
    },
    {
      'name':'Cây xanh',
      'url':'#'
    },
    {
      'name':'Cây trang trí',
      'url':'#'
    },
    {
      'name':'Cây',
      'url':'#'
    },
    {
      'name':'Plants',
      'url':'#'
    },
    {
      'name':'Sức khỏe',
      'url':'#'
    },
    {
      'name':'Quà tặng',
      'url':'#'
    },
    {
      'name':'Lưu niệm',
      'url':'#'
    }
  ];
-
  var news_highlight = [
    {
      'title':'Hướng dẫn lựa chọn và bố trí cây xanh trong phòng khách',
      'img':'../../images/news1.png',
      'url':'#'
    },
    {
      'title':'Những sai lầm nên tránh khi bố trí cây xanh trong nhà',
      'img':'../../images/news2.png',
      'url':'#'
    },
    {
      'title':'7 loại cây xanh để bàn đang được giới văn phòng ưa chuộng',
      'img':'../../images/news3.png',
      'url':'#'
    },
    {
      'title':'Hướng dẫn lựa chọn cây cảnh trang trí trong văn phòng',
      'img':'../../images/news4.png',
      'url':'#'
    },
    {
      'title':'4 loại cây cảnh thích hợp bày trí ở khu vực đại sảnh',
      'img':'../../images/news5.png',
      'url':'#'
    }
  ];
-
  var news_list = [
    {
      'title':'Cách bố trí hoa chậu trước cửa ấn tượng ngay lần đầu tiên',
      'short_desc':'Như thể hiện sự thân thiện cũng như sự hiếu khách của gia chủ, phần không gian trước cửa nhà luôn được đầu tư và trang trí khá bắt mắt. Cũng có thể nói đây là bộ mặt của ngôi nhà, là ấn tượng đầu tiên khi một vị khách ghé chơi nhà bạn đấy. Hãy cùng Sài Gòn Hoa tham khảo một vài cách bố trí chậu cây hoa cảnh ngay trước cửa nhà sao cho ấn tượng nhất nhé!',
      'img':'../../images/news01.png',
      'date':'20/12/2015',
      'time':'11:20:00 AM',
      'comment':'0',
      'url':'#'
    },
    {
      'title':'Hướng dẫn lựa chọn và bố trí cây xanh trong phòng khách',
      'short_desc':'Như thể hiện sự thân thiện cũng như sự hiếu khách của gia chủ, phần không gian trước cửa nhà luôn được đầu tư và trang trí khá bắt mắt. Cũng có thể nói đây là bộ mặt của ngôi nhà, là ấn tượng đầu tiên khi một vị khách ghé chơi nhà bạn đấy. Hãy cùng Sài Gòn Hoa tham khảo một vài cách bố trí chậu cây hoa cảnh ngay trước cửa nhà sao cho ấn tượng nhất nhé!',
      'img':'../../images/news02.png',
      'date':'20/12/2015',
      'time':'11:20:00 AM',
      'comment':'0',
      'url':'#'
    },
    {
      'title':'7 loại cây xanh để bàn đang được giới văn phòng ưa chuộng',
      'short_desc':'Như thể hiện sự thân thiện cũng như sự hiếu khách của gia chủ, phần không gian trước cửa nhà luôn được đầu tư và trang trí khá bắt mắt. Cũng có thể nói đây là bộ mặt của ngôi nhà, là ấn tượng đầu tiên khi một vị khách ghé chơi nhà bạn đấy. Hãy cùng Sài Gòn Hoa tham khảo một vài cách bố trí chậu cây hoa cảnh ngay trước cửa nhà sao cho ấn tượng nhất nhé!',
      'img':'../../images/news03.png',
      'date':'20/12/2015',
      'time':'11:20:00 AM',
      'comment':'0',
      'url':'#'
    }
  ];
-
  var news_detail = [
    {
      'title':'Cách bố trí hoa chậu trước cửa ấn tượng ngay lần đầu tiên',
      'short_desc':'Như thể hiện sự thân thiện cũng như sự hiếu khách của gia chủ, phần không gian trước cửa nhà luôn được đầu tư và trang trí khá bắt mắt. Cũng có thể nói đây là bộ mặt của ngôi nhà, là ấn tượng đầu tiên khi một vị khách ghé chơi nhà bạn đấy. Hãy cùng Sài Gòn Hoa tham khảo một vài cách bố trí chậu cây hoa cảnh ngay trước cửa nhà sao cho ấn tượng nhất nhé!',
      'full_desc':'Như thể hiện sự thân thiện cũng như sự hiếu khách của gia chủ, phần không gian trước cửa nhà luôn được đầu tư và trang trí khá bắt mắt. Cũng có thể nói đây là bộ mặt của ngôi nhà, là ấn tượng đầu tiên khzi một vị khách ghé chơi nhà bạn đấy. Hãy cùng Sài Gòn Hoa tham khảo một vài cách bố trí chậu cây hoa cảnh ngay trước cửa nhà sao cho ấn tượng nhất nhé!\n7 loại cây xanh để bàn đang được giới văn phòng ưa chuộng, Những mẫu cây để bàn đang được giới văn phòng ưa chuộng, cây cảnh văn phòng để bàn thông dụng, những cây cảnh được giới văn phòng ưa chuộng\nCây bạch mã hoàng tử để bàn có chiều cao trung bình từ 20 – 40cm, dáng đẹp, lá cây màu xanh đậm với những đường vân vàng nhạt mọc đối xứng nhau trông rất sang trọng và lịch lãm.\nLoại cây này ưa bóng, chịu được nhiệt độ thấp lại có khả năng tạo ẩm và thanh lọc không khí nên rất thích hợp đặt trong văn phòng làm việc có máy lạnh.\nCây bạch mã hoàng tử thường được chọn để đặt trên bàn làm việc của sếp, bàn nhỏ ở phòng tiếp khách hoặc bàn làm việc của các đấng mày râu.\n2. Cây trầu bà đế vương\nCây trầu bà đế vương tượng trưng cho quyền uy, phong thái dẫn đầu nên thích hợp để đặt trên bàn làm việc của người lãnh đạo, quản lý doanh nghiệp.\nLá cây trầu bá đế vương khá to, dày, hơi bóng, đường gân rõ ràng, có hình dạng như hình trái tim, xòe rộng hướng lên trên trông rất bệ nghễ và cao sang.\nTùy thuộc vào sở thích cá nhân và thiết kế chủ đạo của không gian phòng làm việc, bạn có thể chọn loại trầu bà đế vương xanh, trầu bá đế vương vàng hoặc trầu bà đế vương đỏ.\n',
      'img':'../../images/news03.png',
      'date':'20/12/2015',
      'time':'11:20:00 AM',
      'comment':'0',
      'url':'#'
    }
  ];
-
  var news_comment1 = [
    {
      'name':'Nguyễn Văn An',
      'img':'../../images/customer.jpg',
      'content':'This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.',
      'date':'Thứ 7, 26/12/2015 12: 00 AM',
      'reply': [
                {
                  'name':'Nguyễn Văn Bình',
                  'img':'../../images/customer.jpg',
                  'content':'This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.',
                  'date':'Thứ 7, 26/12/2015 12: 00 AM',
                }
              ]
    }
  ];
-
  var news_comment2 = [
    {
      'name':'Nguyễn Văn Bình',
      'img':'../../images/customer.jpg',
      'content':'This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.',
      'date':'Thứ 7, 26/12/2015 12: 00 AM',
    }
  ];
-
  var news_comment3 = [
    {
      'name':'Nguyễn Văn Chiến',
      'img':'../../images/customer.jpg',
      'content':'This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.',
      'date':'Thứ 7, 26/12/2015 12: 00 AM',
    }
  ];
