//- index = homepage
doctype html
html
  include ./includes/head
  +head('Green Shop - Trang chủ')
  body
    .container
      include ./includes/header
      include ./pages/homepage
      include ./includes/footer
