// Colors
$black-top: #202020; // icon
$black-footer: #313131;
$black-icon-search: #363533;
$grey-copyright: #434343;
$grey-trname: #555555;
$grey-slogan: #898989;
$grey-hr: #494949;
$grey-price: #959595;
$grey-icon-arrange: #afafaf;
$grey-text: #b7b7b7;
$grey-text1: #7d7d7d;
$grey-figure: #e6eaed;
$grey-circle: #c8c8c8;
$grey-border-figure: #e1e1e1;
$grey-border-table: #ebebeb;
$white: #ffffff;
$white-figure: #f7f7f7;
$white-pr-page: #fbf9f9;
$yellow-rating: #febf01;
$red-price: #ed1c24;
$red-discount: #d64146;
$green-theme: #3fb871;
$green-nav-hover: #39c27c;
$green-nav-active: #36a66d;
$green-border: #5daa82;
$green-button: #59b586;
$green-label: #68ba8f;
$popup-bg: #f1eeeb;